h4{
    color: coral;
    background-color: black;
    font-size: 80px;
}
h5{
    color: coral;
    background-color: black;
    font-size: 80px;
}
h6{
     color: coral;
    background-color: black;
    font-size: 80px;

}
h3{ color: rgb(31, 28, 26);
    background-color: rgb(159, 15, 15);
    font-size: 80px;

}
.para1
    
{
    color: rgb(31, 28, 26);
    background-color: rgb(159, 15, 15);
    font-size: 80px;
}
.heading3{color: red;
    

}
.heading5{color: coral;
    background-color: black;
    font-size: 80px;
    
}

.heading5{color: coral;
    background-color: black;
    font-size: 80px;
    
}

.heading2{color: coral;
    background-color: black;
    font-size: 80px;
    
}
.t_transfotm_uppercase{
    text-transform: uppercase;
}
.t_transfotm_lowercase{
    text-transform: lowercase;
}
    
.t_transfotm_capitalize{
   text-transform: capitalize;  
}

.t_decor_underline{
text-decoration: underline;  
}

.t_decor_overline{
   text-decoration: overline;  

}
.t_decor_linethrough{
text-decoration:line-through ;  

}
.t_decore_all{
    text-decoration:line-through overline underline;
}

.t_align_r{
    text-align: right;
}
.t_align_c{
    text-align: left;
}
.t_align_m{
    text-align: center;
}
.t_shadow{
    font-size: 90px;
    color: blue;
    text-shadow: 8px 9px 4px red;
}

.m_shadow{
     font-size: 80px;
    color: rebeccapurple;
    text-shadow: 8px 9px 4px gray;
        text-align: center;

}
.para1{
    color: rgb(32, 115, 187);

    background-color: black;
}

